/*Inicio de estilos para pagina principal*/
*{
    margin: 0;
    padding: 0;
}

a{
    color:white;
}

body, nav{
    background-color: #16181D;   
}

.navbar{
    background-color: #16181D;
    font-family: 'Nunito', sans-serif;
    min-height: 90px;
    
}

button{
    font-family: 'Nunito', sans-serif;
}

p{
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.titulos{
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
}

.titulos2{
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}

.titulos3{
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

#title{
    margin-top: 150px;
    width: 500px;
    /*background-color: rgb(0, 0, 0);*/
    text-align: center;
    
}

#imagen{
    margin:auto;
    display: block;
    width: 500px;
    margin-top: 3%;
}

.boton{
    font-size: 14px;
    padding: 20px 36px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    background-color: #4A43BB;
    color: white;
    border: 0;
    border-radius: 24px;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.boton:hover{
    background-color:#ffffff;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.boton2{
    font-size: 16px;
    padding: 16px 26px;
    min-width: 100px;
    border-radius: 2px;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    background-color: #22242C;
    color: white;
    border: 0;
    border-radius: 24px;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.boton2:hover{
    background-color:#ffffff;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.botonEstilo{
    border-radius: 24px;
    padding: 10px 20px;
    min-width: 200px;
    margin-bottom: 3%;
}

#carrito{
    margin-right: 15px;
    font-size: 15px;
}

#parrafo{
    margin-top: 100px;
    text-align: center;
}

.parrafo{
    margin-top: 10px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    text-align: justify;
}

.parrafo2{
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
}


#contenedorPrincipal
{
    margin-bottom: 80px;
}

.paddingParrafo{
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
}

.dropdown-menu-dark{
    background-color: #22242C;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.contenedor{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.contenedor img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.contenedor:hover img{
    -moz-transforms: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.subtitulo{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}

.descripcion{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
#contenedorCategorias{
    padding-top: 100px;
}

#acercaNosotros{
    background-color:  #16181D;
    color: white;
    padding-top: 100px;
}
#productos{
	transition: all 0.5s ease;
}
#productos:hover{
	transform: scale(0.9);
}

.centrarImagenes{
    margin-top: 100px;
    margin: auto;
    display: block;
}

.centrarImagenes2{
    margin: auto;
    display: block;
}

.modal-header{
    font-family: 'Nunito Sans', sans-serif;
}

.modal-body, .modal-header, .modal-content, .model-footer, .modal-dialog{
    background-color: #16181D;
    color: white;
}

#lista li{
    display: inline;
}

@media screen and (max-width:999px){

    #fila{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title{
        order: 2;
    }

    #imagen{
        order: 1;
       
    }

    #categoria{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width:1200px){

    #title{
        width:450px;
    }

}








